body {
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	height: 100vh;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: pink;
}

.petPalace {
	font-size: 24px;
	margin: 0;
	position: absolute; 
	left: 80px;        
	top: 5%;          
	transform: translateY(-50%); 
}

.home {
	font-size: 24px;
	margin: 0;
	position: absolute; 
	right: 80px;        
	top: 5%;          
	transform: translateY(-50%); 
	text-decoration: none;
}

form {
	display: flex;
	align-items: center;
}

label {
	margin-right: 10px;
}

input[type="text"] {
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	padding: 8px 12px;
	font-size: 16px;
	background-color: purple;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #BA55D3;
}

.logo{
	
	height: 50px; 
	margin: 8px;
	position: absolute; 
	right: 160px;
	border-radius: 50%;
	
}
.unlist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar{
	background-color: purple;
	width:100%;
	text-align: center;
}
.navbar a{
	color: white;
	text-decoration: none;
	padding: 18px;
	display: inline-block;
	text-align: center;
	
}
.navbar li{
	display: inline-block;
	float: center;
}
.navbar a:hover{
background-color: pink;
color: purple;
}
	

section {
	padding: 10px;
}

img {vertical-align: middle;}

.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.row {
	display: flex;
}

.column {
  flex:50%;
  padding: 5px;
}

.image-with-border {
	border: 1px solid purple;
	border-radius: 8px;
}

.image-description {
	margin-top: 5px;
	color: purple;
}

.img-rounded {
	border-radius: 50%;
	overflow: hidden;
	width: 80px; 
}

.card {
	padding: 10px;
	background-color: pink;
	border-radius: 8px;
	text-align: center;
  }
  
.card a{
	font-size: 50px;
	margin: 10px;
	color: purple;
}

.template {
	padding: 5px;
	background-color: pink;
	border-radius: 25px;
	text-align: center;
	width: 50%;
	margin: 5px;
  }

footer {
	background-color: pink;
	color: black;
	text-align: center;
	padding: 3px;
	width: 100%;
}